.ChatMain
  .ChatMain__group--info
    .Group
      .Group__name
        test
      %ul.Group__member
        Member:
        %li.Group__member--list
          name1
        %li.Group__member--list
          name2
        %li.Group__member--list
          name3
    .EditBtn
      = link_to "###", class: "Edit" do
        Edit
  .ChatMain__message--list
    = render @messages
  .ChatMain__message--form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__inputContent
        = f.text_field :content, class: 'Form__inputContent--textfield', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputContent--image' do
          = icon('fas', 'image', class: 'Form__icon--image')
          = f.file_field :image, class: "Form__inputContent--file"
      = f.submit 'Send', class: "Form__submit"